@use "../../styles/abstracts" as *;

.game-button {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease-in-out;
    transform: translate(-60%, -60%);
    background-color: #fff;

    @include gameButton(var(--paper), var(--paper-shadow), 5rem, 7rem, 10vw);

    &:hover {
        color: inherit;
        transform: translate(-60%, -60%) scale(1.05);
    }

    &:nth-of-type(2) {
        @include gameButton(var(--rock), var(--rock-shadow), 5rem, 7rem, 10vw);
        align-self: flex-end;
        transform: translate(0, 0);

        &:hover {
            transform: scale(1.05);
        }
    }

    &:nth-of-type(3) {
        @include gameButton(
            var(--scissors),
            var(--scissors-shadow),
            5rem,
            7rem,
            10vw
        );
        transform: translate(60%, -60%);

        &:hover {
            transform: translate(60%, -60%) scale(1.05);
        }
    }

    img {
        width: 60%;
        height: auto;
    }
}
