@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    height: 100vh;
    padding-block: 3em;
    position: relative;
}

.App-main {
    flex: 1;
}

@media screen and (min-width: 768px) {
    button:not(.close-btn, .game-button, .button[data-role="play"]) {
        position: absolute;
        bottom: 7%;
        right: 5%;
    }
}
