body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background: hsl(214, 47%, 23%);
    background: radial-gradient(
        circle,
        hsl(214, 47%, 23%) 0%,
        hsl(238, 48%, 15%) 100%
    );
    color: #ffffff;
}

button {
    cursor: pointer;
}
